extends layout

block content
	script.
		$(document).ready(function(){

			var socket = io.connect('http://localhost:4000');
			var roomId = '#{title}';
			socket.emit('join:room', {roomId: roomId});

			//- var connect = function (ns) {
			//- 	return io.connect('http://localhost:4000'+ns, {
			//- 		query: 'ns='+ns,
			//- 		name: '#{name}',
			//- 		resource: "socket.io",
			//- 		'forceNew':false
			//- 	});
			//- }
			//- var socket = connect('/#{title}');
			$('button').click(function(){
				var $msg = $("input[name='chatWords']");
				if(!$msg.val()) return;
				socket.emit('new message', {roomId : roomId, msg : $msg.val(), name : '#{name}'});
				$msg.val('');
			});
			socket.on('new message', function(obj){
				var messageHtml = "<span id="+ obj.name + ">"+ obj.name + " : "+"</span>"+"<span class='msgBody'>"+ obj.msg +"</span></br>";
				$('#output').append(messageHtml);
			});
		});
	h3 Chat Room
	h2 title : #{title_entered}
	#people
		#peopleCount
		#peopleList
	#output
	input(type="text" name="chatWords" placeholder="enter your words")
	button(type="button") 전송