extends layout

block content
	script.
		$(document).ready(function(){

			var socket = io.connect('http://localhost:4000');
			var roomId = '#{title}';
			socket.emit('join:room', {roomId: roomId, name : '#{name}'});

			//- var connect = function (ns) {
			//- 	return io.connect('http://localhost:4000'+ns, {
			//- 		query: 'ns='+ns,
			//- 		name: '#{name}',
			//- 		resource: "socket.io",
			//- 		'forceNew':false
			//- 	});
			//- }
			//- var socket = connect('/#{title}');
			$('button').click(function(){
				var $msg = $("input[name='chatWords']");
				if(!$msg.val()) return;
				socket.emit('new message', {roomId : roomId, msg : $msg.val(), name : '#{name}'});
				$msg.val('');
			});
			$('input').keypress(function(e) {
					if(e.which == 13) {
						$('button').click();
					}
			});
			socket.on('new message', function(obj){
				var messageHtml = "<div class='messageHtml'><span id="+ obj.name + ">"+ obj.name + " : "+"</span>"+"<span class='msgBody'>"+ obj.msg +"</span></div>";
				$('#output').append(messageHtml);
			});
			socket.on('add user', function(array){
				$('#peopleCount').text(array.length);
				$('#peopleList ul').empty();
				for ( index in array){
					$('#peopleList ul').append('<li class="collection-item">'+ array[index]+'</li>')
				}
			});

			socket.on('user leaved', function(name){
				$('#status').text("user " + name +"leaved");
			});

			socket.on('connect twice', function(){
				Materialize.toast('다른 창에서 실행되고 있습니다.', 1000, '', function(){
					socket.disconnect();
					location.href = '/main';
				});
			});

			socket.on('disconnect', function(){
				Materialize.toast('연결이 중단되었습니다..', 1000, '', function(){
					location.href = '/';
				});
			});
		});
	h3 Chat Room
	h2 title : #{title_entered}
	#people
		#peopleCount 0
		#peopleList
			ul.collection
				li.collection-item
	.row
		.col.s10
			#status
			#output
	.row
		.input-field.col.s10
			input.validate(type='text' name="chatWords")
			label enter your words
		button.waves-effect.waves-light.btn 전송하기